{% extends 'base.html' %}
{% block content %}



<h4>About Assemblr</h4>
<div class="row">
      <div class="col s7 push-s5"><span class="flow-text"><img src="https://unsplash.com/photos/hCb3lIB8L8E" alt="students working together"></span></div>
      <div class="col s5 pull-s7"><span class="flow-text">
      <p>Assemblr is an app that brings together UX Designers &amp; Sofware Engineers from General Assembly programs. Our goal is to connect students who are looking for help on a project or who simply want to lend a helping hand to a fellow GA student.</p>
      <p>Assemblr also aims to help students beyond their experience at General Assembly. By providing access to a database of freelance job opportunities, Assemblr helps graduates obtain experience while students continue their job search.</p>
      <p></p>
      <p></p>
      </span></div>
</div>




{% endblock %}