{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assemblr</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>

<header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <li><a href="/" class="left brand-logo">&nbsp;&nbsp;Assemblr</a></li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'index' %}">Posts</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                        <li><a href="{% url 'signup' %}">Sign Up</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                        {% endif %}
                        <li><img alt="Assemblr Logo" width="50" src={% static '/images/logo.png' %}></li>
                </ul>
            </div>
        </nav>
    </header>
<body>
<main>



<h4>About Assemblr</h4>
<div class="row">
      <div class="col s7 push-s6"><span class="flow-text">
      <img width="500" src="{% static '/images/students.jpg' %}" alt="students working together">
      </span></div>
      <div class="col s5 pull-s7"><span class="flow-text">
      <h6>Assemblr is an app that brings together UX Designers &amp; Sofware Engineers from General Assembly programs. Our goal is to connect students who are looking for help on a project or who simply want to lend a helping hand to a fellow GA student. If you need help on a project, simply create a post so others can respond.</h6>
      <h6>Assemblr also aims to help students beyond their experience at General Assembly. By providing access to a database of freelance job opportunities, Assemblr helps graduates obtain experience while they continue their job search.</h6>
      </span></div>
</div>

</main>
<footer class="page-footer">
    <div class="footer-copyright">© 2020 Python Pirates</div>
    <div class=""></div>
</footer>
</body>
</html>