.nav-wrapper {
    background-color: black;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Varela Round', sans-serif;
  }

  main {
    flex: 1 0 auto;
    margin: 20px;
  }

  .page-footer {
      background-color: black;
  }

  a {
      color: white;
  }

  a:hover {
      color: #E53935;
  }

  .about {
      margin: 20px;
  }

  .btn {
    background-color: #E53935;
    margin-bottom: 10px;
  }

  .btn:hover {
    background-color: black;
  }



  
