{% extends 'base.html' %}
{% block content %}


<h4>Post Details</h4>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <p>{{ post.created_at }}</p>
        <p>Keywords: {{ post.genre }}</p>
        <br>
        <br>
        <p>{{ post.content }}</p>
       
      </div>
      <div class="card-action">
        <a href="{% url 'posts_update' post.id %}">Edit</a>
        <a href="{% url 'posts_delete' post.id %}">Delete</a>
      </div>
    </div>




    
    <div class="col s6">
      <form action="{% url 'add_message' post.id %}" method="post">
        {% csrf_token %}
        {{ message_form.as_p }}
        <input type="submit" class="btn" value="Reply to This Post">
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Message Title</th>
          <th>Message Details</th>
        </tr>
      </thead>
      <tbody>
        {% for message in post.message_set.all %}
        <tr>
          <td>{{message.created_at}}</td>
          <td>{{message.title}}</td>
          <td><a style='color:blue' href="{% url 'message_detail' message.id %}">Reply</a></td>
        </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
</div>


{% endblock %}