{% extends 'base.html' %}
{% block content %}


<h4>Post Details</h4>

  <div class="row">

    
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ post.title }}</span>
          <p>From: {{post.user.username}} </p>
          <p>{{ post.created_at }}</p>
          <p>Keywords:</p>
          <br>
          <br>
          <p>{{ post.content }}</p>
          
        </div>
        {% if user.username == post.user.username%}
        <div class="card-action">
          <a href="{% url 'posts_update' post.id %}">Edit</a>
          <a href="{% url 'posts_delete' post.id %}">Delete</a>
        </div>
        {%endif%}
      </div>
      <div class="col s6">
        <form action="{% url 'add_message' post.id %}" method="post">
          {% csrf_token %}
          {{ message_form.as_p }}
          <input type="submit" class="btn" value="Reply to This Post">
        </form>
      </div>
    </div>
    
    
    
    {% for message in post.message_set.all %}
    
   
  </div>

 <!-- <div class="row"> -->
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        From <span class="card-title" style="color: teal">{{ message.user.username }}</span>
        <p>On {{ post.created_at }}</p>
        <p>Keywords: {{ post.skill }}</p>
        <br>
        <br>
        <p>{{ message.comment }}</p>
      </div>
      {% if user.username == message.user.username %}
      <div class="card-action">
        <a style="color: blue" href="{% url 'messages_update' message.id %}">Edit</a>
        <a style="color: red" href="{% url 'messages_delete' message.id %}">Delete</a>
      </div>
      {% endif %}
    </div>
    
  </div>
  {% endfor %}


  


{% endblock %}