{% extends 'base.html' %}
{% block content %}


    <h4>Post Details</h4>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ post.title }}</span>
        <p>Date: {{ post.date }}</p>
        <p>Content: {{ post.content }}</p>
        <p>Job Type: {{ post.genre }}</p>
       
      </div>
      <div class="card-action">
        <a href="{% url 'posts_update' post.id %}">Edit</a>
        <a href="{% url 'posts_delete' post.id %}">Delete</a>
      </div>
    </div>
    <a href="{% url 'message_details' message_id %}">
    <div class="col s6">
    <form action="{% url 'add_message' post.id %}" method="post">
    {% csrf_token %}
    {{ message_form.as_p }}
      <input type="submit" class="btn" value="Add Message">
  </form>
    <table class="striped">
      <thead>
        <tr><th>Date</th><th>Message</th></tr>
      </thead>
      <tbody>
        {% for message in post.message_set.all %}
          <tr>
            <td>{{message.created_at}}</td>

            <td>{{message.content}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </a>
  </div>
</div>


{% endblock %}