{% extends 'base.html' %}
{% block content %}
<main>
<h4>My Posts</h4>

{% for post in my_posts %}
<div class="card black darken-1">
  <a href="{% url 'detail' post.id %}">
  <div class="card-content white-text">
    <span class="card-title">{{ post.title }}</span>
    <p>{{ post.created_at }}</p>
    <p style="color: red">Posted By {{ post.user.username }}</p>
  </div>
    </a>
  <div class="card-action">
    <a style="color: white;" href="{% url 'posts_update' post.id %}"><i class="material-icons">edit</i></a>
    <a style="color: white;" href="{% url 'posts_delete' post.id %}"><i class="material-icons">delete</i></a>
  </div>
</div>
  {% endfor %}
  <button type="submit" class="btn">
  <a href="{% url 'posts_create' %}">Create A New Post</a>
</button>
</main>






{% endblock %}